html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
#title {
	height: 20px;
	padding: 10px;
	font-family: Helvetica;
	color: #fff;
	background: #000;
	font-size: 20px;
	text-align: center;
}
#panel {
	position: absolute;
	top: 47px;
	left: 7px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal !important;
	box-shadow: 1px 1px 1px #888;
	width: 323px;
}
.panel-label {
	display: inline;
}
.inline {
	display: inline;
}
#directions-panel {
	height: 100%;
	float: right;
	width: 390px;
	overflow: auto;
	border-left: 2px solid black;
	padding: 4px 10px;
	font-family: Helvetica;
}
#directions-title {
	text-align: center;
	font-size: 18px;
}
.adp, .adp-text, .adp-substep {
	font-family: Helvetica !important;
	font-size: 14px !important;
}
.adp-legal, .adp-warnbox {
	display: none;
}
